html,
body {
  height: 100%;
}

body {
  background-color: #24273a;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  color: #cad3f5;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
}

.calculator {
  width: 50%;
  margin: auto;
  background-color: #494d64;
  border-radius: 5%;
  max-width: 640px;
}

@media screen and (max-width: 850px) {
  .calculator {
    width: 80%;
  }

  h1 {
    font-size: 2em;
  }
}

.display {
  height: 160px;
  background-color: #5b6078;
  display: flex;
  align-items: center;
}

.screen {
  width: 85%;
  height: 80px;
  background-color: #939ab7;
  margin: auto;
  display: flex;
  justify-content: right;
  align-items: center;
}

#print {
  font-size: 3em;
  color: #181926;
  margin: 0;
  padding-right: 5%;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-top: 4%;
  padding-bottom: 4%;
  margin: auto;
}

.top-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

button {
  width: 23%;
  height: 80px;
  margin: 1%;
  border: none;
  border-radius: 15px;
  font-size: 2em;
  background-color: #b7bdf8;
  color: #181926;
}

button:hover {
  filter: brightness(0.75);
  transition: ease 0.5s;
}

button:active {
  filter: brightness(0.6);
  transition: ease 0.2s;
}

#clear,
#backspace {
  background-color: #ed8796;
}

.operand {
  background-color: #8bd5ca;
}

footer {
  text-align: center;
  color: #cad3f5;
  flex: 0;
}

footer a {
  color: #8aadf4;
  text-decoration: none;
}
